.form {
  width: 100%;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.form_image {
  width: 100%;
}
.profileimage {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}
.profileimg_img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}
.penicon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 41px;
  height: 41px;
  background-color: var(--orange);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.form_image input {
  border: none;
  display: none;
}
.input_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.input_section input {
  background-color: var(--input-color);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}
