.bluebox{
    max-width: 100%;
    padding: 20px;
    background-color: var(--bg-link);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}