.forgetpassword {
  max-width: 100%;
  background-color: var(--background-color-dark);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.menuheader_login {
    padding: 50px 21px;
    z-index: 1;
  }
.forgetpassword .loginheader{
    margin-top: 0 !important;
}
.form_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .form_input span{
      color: #181C2E;
  
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  
  }
  .form_input input {
    border: none;
    background-color: #f0f5fa;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--gray);
    outline: 0;
  }
  .formbutton {
    width: 100%;
    background-color: var(--orange);
    border: none;
    padding: 20px 0;
    color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }

