@font-face {
  font-family: sen-bold;
  src: url("../public/font/woff/Sen-Bold.woff");
}
@font-face {
  font-family: sen-Medium;
  src: url("../public/font/woff/Sen-Medium.woff");
}
@font-face {
  font-family: sen-Regular;
  src: url("../public/font/woff/Sen-Regular.woff");
}

/* *{
  outline: 1px solid red;
} */
:root {
  --orange: #ff7622;
  --gray: #a0a5ba;
  --grayDark: #808080;
  --background-color: #fff;
  --background-color-dark: #181c2e;
  --blue-navy:#1E1E2E;
  --input-color:#f6f6f6;
  --font-color:#32343E;
  --active:#FFD27C;
  --bg-link:#F6F8FA;
  --Light-gray:#6B6E82;

}
body {
  margin: 0;
  padding:0;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh !important;
  font-family: sen-Regular;
  color: var(--font-color);
  position: relative;
  box-sizing: border-box !important;
}
button{
  cursor: pointer;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular .swiper{
  height: 250px;
  width: 100%;
}
.popular .swiper-slide{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 5px !important;

}
.popular .swiper-wrapper{
  height: 250px;
}
.categorie .swiper-slide{
  /* width:auto !important; */
  margin-right: 10px !important;
  
}
.aboutImageSwiper .swiper{
  width: 100%;
  text-align: center;
}
.aboutImageSwiper .swiper-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.aboutImageSwiper .swiper-slide{
  margin-right: 5px !important;
  width: auto !important;
}

