.info {
  max-width: 100%;
  padding: 50px 21px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.edit {
  color: #ff7622;
  margin-right: 20px !important;
}
.edit svg{
  width: 23px !important;
  height: 23px !important;
}